[Unit]
Description=This service listen to a button press or hold do turn off and on tvs.
After=ckdevices.service
Requires=ckdevices.service

[Service]
TimeoutStartSec=0
Type=simple
User=roku
WorkingDirectory=/home/project/roku/
ExecStartPre=/bin/sleep 35
ExecStart=+/usr/bin/python3 /home/project/roku/button.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
