[Unit]
Description=This service checks for tvs to put into a ini file
After=ckwifi.service
Requires=ckwifi.service

[Service]
TimeoutStartSec=infinity
TimeoutStopSec=infinty
Type=simple
User=roku
WorkingDirectory=/home/project/roku/
ExecStart=+/usr/bin/python3 /home/project/roku/ckdevices.py
Restart=on-failure


[Install]
WantedBy=multi-user.target
