[Unit]
Description=This service checks wifi connection for ckdevices.service.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=roku
WorkingDirectory=/home/project/roku/
ExecStart=/usr/bin/python3 /home/project/roku/ckwifi.py
Restart=always

[Install]
WantedBy=multi-user.target
